@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.navbar{
  padding: 20px;
  background-color: burlywood;
}
.search{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
}
.cardi{
  display: flex;
  justify-content: center;
}